<% include includes/header %>
    <div class="content container">
        <div class="post">
            <div class="post">
                <h1><%= article.title %></h1>
                <span class="post-date"><%= article.postedOn %></span>
                <%- article.content %>
            </div>
        </div>
    </div>
<% include includes/footer %>
