<% include includes/header %>
    <div class="content container">
        <div class="posts">
            <% articles.forEach(function(ar){ %>
            <div class="post">
                <h1><a href="<%= ar.link %>"><%= ar.title %></a></h1>
                <span class="post-date"><%= ar.postedOn %></span>
                <p><%= ar.excerpt %></p>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>